.shape {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.shape .shape-fill {
    fill: #FEF6F7;
}